.tableContainer {
  width: 100%;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
}

.table {
  width: max-content;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}
